/**
 * Theme Name:      MAH Theme
 * Author:          Inpsyde GmbH
 * Author URI:      https://www.inpsyde.com
 * Description:     MAH WordPress Theme for Agency certification.
 * Text Domain:     mah-theme
 */

body {
    padding: 150px;
    font: 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #37424a;
}

header, section.search-form {
    text-align: center;
}

.main {
    display: block;
    max-width: 760px;
    margin: 0 auto;
}

.main p {
    text-align: center;
}

strong {
    color: #00877c;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
