/**
 * Theme Name:      Celeritas Certirication Theme
 * Author:          Imran Husein
 * Author URI:      https://celeritas-solutions.com/
 * Description:     Child Theme for Agency certification.
 * Template:     	agency-cert-theme
 * Text Domain:     celeritas-theme
 */

body {
    padding: 150px;
    font: 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #37424a;
}

header, section.search-form {
    text-align: center;
}

.main {
    display: block;
    max-width: 760px;
    margin: 0 auto;
}

.main p {
    text-align: center;
}

strong {
    color: #00877c;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

/*adv search is disabled*/
.search-form.disabled .adv-search-wrapper {
	display: none;
}
